certifi==2017.4.17
chardet==3.0.4
click==6.7
Django==1.11.20
Flask==0.12.3
Flask-SQLAlchemy==2.2
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
PyMySQL==0.7.11
pytz==2017.2
redis==2.10.5
requests==2.20.0
SQLAlchemy==1.1.11
urllib3==1.23.0
Werkzeug==0.12.2
virtualenv
