{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="form_bg">
			<form action="{{ url_for('wordme') }}" method="get">
			<div class="form-group">
				<input type="text" class="form-control" id="wordage" name="wordage" placeholder="Wordage">
			</div>

			<div class="align-center">

				<input type="submit" class="btn btn-default" value="Submit" />
			</div>
			</form>
		</div>
	</div>
</div>
<script type='text/javascript'>
	$('#wordage').bootcomplete({
		url: $SCRIPT_ROOT + '/check'
	});
</script>

{% endblock %}